* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: rgb(136, 221, 192);
}
#setclock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */

}

#bkclor {
  background-color: chocolate;
  width: 250px;
  margin: 0 auto;
  padding: 25px;
  margin-top: 0.9rem;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
#bkclor span {
  background-color: rgb(182, 235, 130);
  width: 150px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.9s;
}

#rest {
  background-color: rgb(224, 101, 13);
  font-weight: bold;
  padding: 5px 53px;
  text-align: center;
   border: none;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 1rem;
}

#int {
  border-radius: 4px;
  outline: none;
  text-align: center;
   font-size: 25px;
   border: none;
   margin-top: 0.2rem;
}

#bkclor span {
  font-size: 50px;
}

.text span {
  font-weight: bold;
  color: rgb(16, 25, 34);
  /* margin: 0 8px 0 20px; */
}
.text span:nth-child(1) {
  margin-left: 0px;

}
.text span:nth-child(2) {
  margin-left: 29px;
}
.text span:nth-child(3) {
  margin-left: 40px;
}
.text span:nth-child(4) {
  margin-left: 60px;
}

#hr {
  color: rgb(170, 83, 33);
  width: 50%;
  margin: 0 auto;
  border: 2px solid;
}

@media (max-width: 600px) {
  html {
    /* width: 100%; */
  }
.text{
  /* margin-top: 1.5rem; */
}
#bkclor span {
  /* font-size: 1rem;
  width:2.5rem; */
 
}
  .text {
    /* top: 36%;
    left: 17%; */
  }
  #int {
  
  }
  #rest {
    /* top: 25rem; */
  }
}
